// Pre-state grayscale colors used in other variables

$orange: #e9896a;

// Override Bootstrap color system

$green: #387c6d;

// Override Bootstrap default state colors

$primary: $green;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
