// Pre-state grayscale colors used in other variables

$gray: #4a5056;

// Override Bootstrap color system

$blue: #1687a7;

$white: #f4f9f9;

// Override Bootstrap default state colors

$primary: $blue;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
